/*
MAPS CSS
*/
#inputData{
    margin: auto;
    height: 19vh;
    width: 95vw;
}
#nomeAnnuncio{
    height: 5vh;
}
#prezzo{
    height: 5vh;
}
#nextStepButton{
    height: 5vh;
    margin: 0;
    padding: 0;
}

#map_canvas{
    margin-top: 1.5vh;
    :margin-top: 1vh;
    :width: 100vw;
    height: 60vh;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

/*footer and terms*/
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

/*background menu
.gmnoprint div {
    background:none !important;
}
*/

#cercaVicinanzeDiv{
    display: none;
}

#rowPillCerca{
    margin-top: 3vh;   
}

#cercaPills{
    width:16em;
    margin-left: auto;
    margin-right: auto;
}

#cercaPillUno, #cercaPillDue {
    width:8em;
    text-align: center;
}

.cercaColumn{
    text-align: center;
}

#cercaVicinanzeNota{
    font-size: 0.7em;
    margin-top: 0.5em;
}

#cercaZonaInput-button{
    width:10em !important;  
    font-size: 0.8em !important;
}

#raggioCercaVicinanzaInput-button{
    width:9em !important;   
    font-size: 0.8em !important;
}
/*
#cercaZonaMap{
    border:1px solid black;
    height: 15em;
    width:80vw;
    margin-left: auto;
    margin-right: auto;
}*/

.normalText {
  font-size: 16px;
}

.smallText {
  font-size: 12px; /* 75% of the baseline */
}

.largeText {
  font-size: 20px; /* 125% of the baseline */
}

.left{
    text-align: left;
}
.center{
    text-align: center;
}
.button{
    text-align: center;
    background-color: blue;
    color:white;
}

.right{
   
    color: dimgray;
    font-weight: 100;
    font-size: 1em;
    text-align: right;
}

.dropdownContent > div > div{
    :border: 0;
    background-color:  white;
    color: dimgray !important;
    font-weight: 100;
    font-size: 1em;   
    text-align: right;
    padding-left:1em;
    padding-right:1em;
    
    
}
.center >div >div{
    text-align: center;
    padding: inherit;
}

.dropdownContent > div {
    margin:0;
    font-weight: 100;
    font-size: 1em;
    color: dimgray;
    
}
.center>div{
     font-size: 1.5em;
    font-weight: 100;
    margin: auto;
}
.black>div>div{
    color:black !important;
}
.dropdownContent {
    margin:0;
    font-weight: 100;
    font-size: 1em;
    color: dimgray;
    
}
.input{
    padding: 0.5em;
    line-height: 2.5em;
    margin-top: 0.1em ;
    background-color: white;
    font-size: 0.7em;
    :border-color: black;
    :border: solid 1px;
    :border-radius: 0.5em;
    
}
/*
.searchTextTitle{
    color:white;
    font-size:1em ;
    font-style: normal;
}*/

.styled-select select {
   background: transparent;
   width: 26px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.divDove{
    height: 10em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#curPos{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    font-weight: 200;
    color: black;
}

#imageIndirizzo{
    display:block; 
    height:60px; 
    width:80px; 
    margin-top: 2vh; 
    margin-left:auto; 
    margin-right:auto;
}

#colIndirizzo{
    text-align:center; 
    padding-left:0;   
}

#titleCercaIndirizzo{
    font-size:1.5em; 
    color:black; 
    font-weight: 100;
}

#cercaVia{
    width:100%; 
    font-size:1em; 
    height:5vh;  
}

.paddingLeftClass{
    padding: 0;   
}

#risultatiRicercaMap{
    height: 90vh;
    width:100vw;
}