#ordinaBtn{
    width:auto; 
    margin-left:auto; 
    margin-right:auto  
}
.divParent{
    display:inline-block; 
    height: 6vh; 
    width: 100vw; 
}
.firstDiv{
    display:inline-block; 
    float:left; 
    height:4vh; 
    width: 88vw;
    vertical-align:middle;
    margin:auto;
}
.text{
    height:4vh; 
    width: 88vw;
    vertical-align:middle; 
    line-height:4vh;
    margin: auto;
}
.secondDiv{
    display:inline-block; 
    :float:right;
    top: 0;
    height: 5.8vh; 
    width: 20vw; 
    margin-left: 1.5vw;
    text-align: center;
    line-height: 5.8vh;
    background-color:red; 
    font-size: 2.5vh;
    font-weight: bold;
    position:absolute;
}
.divChild{
   overflow-x:hidden;
}

.foto{
    display:inline-block; 
    height:28.3vmin; 
    width:28.3vmin;   
}
.photoswipe{
    overflow-x:scroll; 
    overflow-y:hidden;
    white-space: nowrap;
    
}