/* CSS DI DETTAGLIO ANNUNCIO */


#dettaglioZonaText{
    font-size: 1.2em;   
}

.pageDettaglioTitleRow{
    margin-top:0.5em;
}

#pageDettaglioTitleColumn{
    text-align:center; 
    margin-top:0.7em;   
}

.dettaglioStarColumn{
    text-align: center;
}

.starElement{
    display: inline-block;
    color: #f0ad4e;
}

#pageDettaglioZonaRow{
    padding:0.4em; 
    margin-top:0.2em; 
    margin-left:0.3em;   
}

#pageDettaglioPhotoswipeRow{
    margin-left:0.3em; 
    margin-right: 0.5em; 
}

.pageDettaglioInfoRow{
    height:2em; 
    background-color:white; 
    padding:0.4em; 
    margin-top:0.1em; 
    margin-left:0.2em;
}

.marginFirstRow{
    margin-top:1.5em; 
}

.pageDettaglioTextLineHeight{
    line-height:1.4em
}

.pageDettaglioMezziRow{
    height:2.5em; 
    background-color:white; 
    padding:0.5em; 
    margin-top:0.1em; 
    margin-left:0.2em;   
}

.marginFirstMezziRow{
    margin-top:1.5em;
}


#pageDettaglioDEscrizioneRow{
    height:auto; 
    background-color:white; 
    padding:0.8em; 
    margin-top:1.5em;   
}

#pageDettaglioDescrizioneText{
    line-height:1.4em; 
    margin-left:0.3em;   
}


.pageDettaglioPrezzoRow{
    height:2em; 
    background-color:white; 
    padding:0.4em; 
    margin-top:1em; 
    margin-left:0.2em;   
}


/*   CSS DI MODIFICA DATI    */

.datiTextTitle{
    text-align: center;   
}

.userDataInputText{
    display: none;
    background-color: #cecece;
}

#modificaDatiConfermaPasswordIcon{
    display: none;
}

.wrongPasswordValue{
   color: red;    
}




/*   CSS DI RISULTATI RICERCA       */
/*
#risultatiRicercaMap{
    display: block;
    width: 100%;
    height: 10em;
    border:1px solid black;
}*/


.elementListview{
    margin-left: 0.3em !important;  
    height: 7em;
    margin-top: 0.2em !important;
}

.linkListview{
    height: 100%;
    padding-left: 5.4em !important;   
}

.imageListview{
    margin-top: 8%;   
}

.titoloListview{
    height: 3em;
    font-size: 0.8em !important;
    margin-top: 0 !important;
    padding-left: 0.5em !important;
    :background-color: orange;
    :border: 1px solid black;
    line-height: 1.5em;
    
    word-wrap: break-word;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.subtitoloListview{
    margin: 0 !important;
    margin-bottom: 0.3em !important;
    font-size: 0.66em !important;
    font-weight: normal !important;
    :text-align: center !important;
    padding-left: 1.6em;
}

.prezzoListview{
    text-align: right;
    color: #146eb4;
    margin-right: 0.5em !important;
}
