
.annuncioDiv{
    display: block;
    align-content: center;
    line-height: 5vh;
    height: 5vh; 
    width: 100vw;
    border: 1px solid black;
    margin-top: 1vh;
}

#buttonsDiv{
    height:4em; 
    width: 96%;
    margin-left:2%; 
    margin-right:2%; 
    margin-top:0.5em;
}

#btnNuovoAnnuncio{
    display:inline-block; 
    font-size: 0.8em;
    height: 2em; 
    width: 5em; 
    float:left;
    background-color:transparent;
    padding: 0;
}

#btnDeleteAnnuncio{
    display:inline-block;
    font-size: 0.8em;
    height:2em; 
    width:5em; 
    float:right; 
    background-color:transparent;
    padding: 0;
}

.annuncioDelDiv{
    display: none;
    height: auto;
    width: 0;
    background-color: red;
    
}

.nuovoAnnuncioIntestazione, .nuovoAnnuncioDetailIntestazioneRow{
    margin-top: 0.6em;   
}

.annulla_indietroNuovoAnnuncioButton{
    padding: 1em;   
}

.nuovoAnnuncioTestoIntestazione{
    padding-left: 0;   
}

.annuncioContentDiv{
    display:inline-block;
    height: auto;
    width: 100%;
    background-color: yellow;
    position:absolute;
}

.nuovoAnnuncioDetailContent{
    display: none;   
    
}

#nuovoAnnuncioTextTitle{
    margin-top: 0.5em;
    text-shadow: 1px 1px 1px black;      
}

.nuovoAnnuncioDetailTextTitle{
    margin-top: 0.5em;
    font-weight: 600;
    text-shadow: 1px 1px 1px gray;
}

.nuovoAnnuncioDetailFirstRow{
    margin-top: 2em;   
}

.nuovoAnnuncioDetailSecondRow{
    margin-top: 1.5em;   
}

.nuovoAnnuncioBox{
    :margin-top: 0.5em;
    margin-left: 0.3em;
    background-color: whitesmoke;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.nuovoAnnuncioIconsBox{
     line-height: 3.5em;
}

.nuovoAnnuncioRowOne{
    margin-top:0.5em; 
    margin-bottom:0.4em;   
}

.nuovoAnnuncioRowTwo{
    padding-top:0.2em; 
    margin-bottom:0.5em; 
}

.nuovoAnnuncioRowOneTitle{
    font-weight:600; 
    margin-bottom:0.4em;   
}

.textInputIntroText{
    line-height: 1.4em;   
}

#titoloInput{
    width: 100%;   
}

#prezzoInput, #numLocaliInput, #superficieInput, #postiLettoInput{
    display: block;
    width: 6em;   
    margin-left: auto;
    margin-right: auto;
}

#descrizioneInput{
    min-height: 8em;
    height: 8em;
    max-height: 8em;
}

.nuovoAnnuncioRowTwoTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}



