/*
.modificaBox{
    height: 2em;
    width:100vw;
    :background-color: gray;
    margin-top: 0.5em;

}

#modificaPasswordBox, #modificaConfermaPasswordBox{
    height: 4.5em;   
}
  
.userDataText{
    display: inline-block;
    height: 100%;
    width: 70vw;
    line-height: 1.5em;   
    :background-color: yellowgreen;
    padding-left: 1em;
}*/

.modificaDatiLoginColumn{
    text-align: center;
}

#googleLoginLabel, #rentMeLoginLabel{
    display: none;   
}

.modificaDatiColumn{
    text-align: center;   
}

.leftTextElement{
    margin-left: 1.5em;
    display:inline-block;
    width: 15em;
    height: 2em;
    line-height: 1.8em;
    font-size: 0.9em;
    background-color: lightseagreen;
}
/*
.modificaIconText{
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    background-color: orange;
    line-height: 1.7em;
}*/


.singleElementMargin{
    margin-left: -15px !important;   
}

#confermaPasswordModificaIcon{
    display: none;
}
/*
.userDataText, .userDataInputText{
    
    
}*/


.userDataInputText{
    display: none;
    background-color: yellowgreen;
}

#pwUtenteInput, #confermaPwUtenteInput{
    height: auto;   
}


#labelPwUtenteInput, #labelConfermaPwUtenteInput{
    display: block;
    height: 2em;
    width:90vw;
    height: auto;
    line-height: 1.5em;  
    padding-left: 1em;
}

#pwInputField, #confermaPwInputField{
    height: 1.3em;  
}

.datiTextTitle{
    text-align: center;   
}

.loginTypeMode{
       
}