a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #127ebf;
}


#affittaContent_creaAnnuncio{
    display: none;
}
/*
.annuncioDiv{
    display: block;
    align-content: center;
    line-height: 5vh;
    height: 5vh; 
    width: 100vw;
    border: 1px solid black;
    margin-top: 1vh;
}

.annuncioDelDiv{
    display: none;
    height: auto;
    width: 0;
    background-color: red;
    
}*/

#rowButton{
    margin-top: 1em;   
}

.annuncioDiv{
    margin-top: 0.1em;
    background-color: #dddddd; 
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.annuncioDivLeft{
    :background-color:orange; 
    height:4.5em;
}

.annuncioDivIconRight{
    height: 4.5em;
    padding: 0;
    :background-color: gold;
    line-height: 4.5em;   
}

.annuncioDivTitolo, .annuncioDivZona, .annuncioDivIndirizzo{
    padding-top: 0.3em;   
    text-align: center;
}

.annuncioDivZona, .annuncioDivIndirizzo{
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.annuncioDivTitolo, .annuncioDivZona{
    margin-top: 0.2em;   
}

.annuncioDivIndirizzo{
    margin-top: 0.1em;   
}

.annuncioDivIndirizzo{
    width:100%;   
}


.nuovoAnnuncioIntestazione, .nuovoAnnuncioDetailIntestazioneRow{
    margin-top: 0.6em;   
}

.annulla_indietroNuovoAnnuncioButton{
    padding: 1em;   
}

.nuovoAnnuncioTestoIntestazione{
    padding-left: 0;   
}

.annuncioContentDiv{
    display:inline-block;
    height: auto;
    width: 100%;
    background-color: yellow;
    position:absolute;
}

.nuovoAnnuncioDetailContent{
    display: none;   
    
}

#nuovoAnnuncioTextTitle{
    margin-top: 0.5em;
    text-shadow: 1px 1px 1px black;      
}

.nuovoAnnuncioDetailTextTitle{
    margin-top: 0.5em;
    padding-left: 2em;
    font-weight: 600;
    text-shadow: 1px 1px 1px gray;
}

.titleTooMuchPadding{
    padding-left: 0;   
}

.nuovoAnnuncioDetailFirstRow{
    margin-top: 2em;   
}

.nuovoAnnuncioDetailSecondRow{
    margin-top: 1.5em;   
}

.nuovoAnnuncioBox{
    :margin-top: 0.5em;
    margin-left: 0.3em;
    background-color: whitesmoke;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.nuovoAnnuncioIconsBox{
     line-height: 3.5em;
}

.nuovoAnnuncioRowOne{
    margin-top:0.5em; 
    margin-bottom:0.4em;   
}

.nuovoAnnuncioRowTwo{
    padding-top:0.2em; 
    margin-bottom:0.5em; 
}

.nuovoAnnuncioRowOneTitle{
    font-weight:600; 
    margin-bottom:0.4em;   
}

.textInputIntroText{
    line-height: 1.4em;   
}

#titoloInput{
    width: 100%;   
}

#prezzoInput, #numLocaliInput, #superficieInput, #postiLettoInput, #pianoInput{
    display: block;
    width: 6em;   
    margin-left: auto;
    margin-right: auto;
}

#indirizzoInput{
    display: block;
    width: 20em;   
    margin-left: auto;
    margin-right: auto; 
}

#descrizioneInput{
    min-height: 8em;
    height: 8em;
    max-height: 8em;
}


.nuovoAnnuncioRowTwoTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
}

.contentOverflowProperty{
    overflow-y:scroll; 
    overflow-x:hidden;   
}

.rowMiniaturaImage{
    margin-top: 0.1em;   
}

.miniaturaImage{
    display:inline-block;
    width:60px;
    height:60px;
    margin-left:auto; 
    margin-right:auto; 
    border: 1px solid black;
}

/*
a {
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}*/

/*
#pubblicaAnnuncioButton:link, #pubblicaAnnuncioButton:visited {
    :background-color: #f44336;
    border: 2px solid #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


#pubblicaAnnuncioButton:hover, #pubblicaAnnuncioButton:active {
    background-color: #f44336;
}
*/

.okButton:link, .okButton:visited {
    border: 2px solid #4CAF50;
    background-color: #5db761;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    font-weight: normal;
    margin-left: 20px;
    
}

.okButton:hover, .okButton:active{
    background-color: #4CAF50;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: lighter;
}

.creaButton:link, .okButton:visited{
    border: 2px solid #4CAF50;
    :background-color: #5db761;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:black;
    font-weight: normal;
    margin-left: 20px;    
}

.creaButton:hover, .creaButton:active{
    background-color: #4CAF50;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: lighter;
}

.deleteButton:link, .deleteButton:visited{
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
    font-weight: normal;
}

.deleteButton:hover, .deleteButton:active{
    color: white !important;
    background-color: red;
    opacity: 1;   
    font-weight: lighter;
}



#pubblicaAnnuncioButton, #btnNuovoAnnuncio, #btnDeleteAnnuncio{
    display: block;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}

#btnNuovoAnnuncio, #btnDeleteAnnuncio{
    display: block;
    height: 1.8em;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em; 
    padding: 0;
    line-height: 1.8em;
}




