/*
MAPS CSS
*/
#inputData{
    margin: auto;
    height: 19vh;
    width: 95vw;
}
#nomeAnnuncio{
    height: 5vh;
}
#prezzo{
    height: 5vh;
}
#nextStepButton{
    height: 5vh;
    margin: 0;
    padding: 0;
}

#map_canvas{
    margin-top: 1.5vh;
    :margin-top: 1vh;
    :width: 100vw;
    height: 60vh;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

/*footer and terms*/
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

/*background menu
.gmnoprint div {
    background:none !important;
}
*/