
#searchFilterForm{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#myFilter{
    font-size :0.9em;  
}

#messaggiContainerDiv{
    margin-top:1em;   
}

.messageDivParent{
    display:inline-block; 
    height: 8vh; 
    width: 100vw; 
    position:relative;
    :margin-top: 0.5vh;
    :margin-bottom: 0.5vh
}
.messageFirstDiv{
    display:inline-block; 
    float:left; 
    height: 8vh; 
    width: 100vw;
}
.messageSecondDiv{
    display:inline-block; 
    height:8vh; 
    width:20vw; 
    :background-color:red; 
    :border:2px solid black; 
    position:absolute;
}
.messageProfilePicture{
    display:inline-block; 
    float:left; 
    height:8vh; 
    width:16vw; 
    margin-left:2vw;
}
.previewMessage{
    display:inline-block; 
    height:8vh; 
    width:74vw; 
    margin-left:0.5vw; 
}

.arrowDiv{
    display:inline-block; 
    height:8vh; 
    width:5vw;
    :background-color: red;
}

#eliminaIcon{
    display: block;
    height: 7.5vh;
    width: 2em;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    color: #e50000;
}

.separatoreDiv{
    display: block;
    width:80vw; 
    height:1px; 
    background-color: #bdbdbd; 
    margin-left: 18vw; 
    :margin-top:0.4em; 
    margin-bottom:0.4em;
}

.sender{
    width: 60vw; 
    font-size: 5vmin;
    font-weight: 700; 
    display: inline-block; 
    margin: .45vw 0; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    line-height: 3vh; 
    text-align:left; 
}

.time{
    display: inline-block;
    max-height: 1em;
    max-width:15vw;
    font-size: 0.6em;
    color: gray;
    
}
.previewText{
    width: 100%; 
    font-size: 2vh; 
    font-weight: 400; 
    display: block; 
    margin: 1vmin; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    text-align: left; 
    line-height: 2vh;
}

#messaggiDetailContent{
    display: block;
    height: 100%;
    width:100%;
    background-color: greenyellow;
    overflow-y: scroll;
}