/*
MAPS CSS
*/
#inputData{
    margin: auto;
    height: 19vh;
    width: 95vw;
}
#nomeAnnuncio{
    height: 5vh;
}
#prezzo{
    height: 5vh;
}
#nextStepButton{
    height: 5vh;
    margin: 0;
    padding: 0;
}

#map_canvas{
    margin-top: 1.5vh;
    :margin-top: 1vh;
    :width: 100vw;
    height: 60vh;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

/*footer and terms*/
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

/*background menu
.gmnoprint div {
    background:none !important;
}
*/

#rowPillCerca{
    margin-top: 2em;   
}

#cercaPills{
    width:16em;
    margin-left: auto;
    margin-right: auto;
}

#cercaPillUno, #cercaPillDue {
    width:8em;
    text-align: center;
}

.cercaColumn{
    text-align: center;
}

#cercaVicinanzeNota{
    font-size: 0.7em;
    margin-top: 0.5em;
}

#cercaZonaInput-button{
    width:10em !important;   
}

#cercaZonaMap{
    border:1px solid black;
    height: 10em;
    width:10em;
}
/*
#cercaZonaMap img {
  max-width: none;
}*/