
#searchFilterForm{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#myFilter{
    font-size :0.9em;  
}

#messaggiContainerDiv{
    margin-top:1em;   
}

.messageDivParent{
    display:inline-block; 
    height: 8vh; 
    width: 100vw; 
    position:relative;
    :margin-top: 0.5vh;
    :margin-bottom: 0.5vh
}
.messageFirstDiv{
    display:inline-block; 
    float:left; 
    height: 8vh; 
    width: 100vw;
}
.messageSecondDiv{
    display:inline-block; 
    height:8vh; 
    width:20vw; 
    :background-color:red; 
    :border:2px solid black; 
    position:absolute;
}
.messageProfilePicture{
    display:inline-block; 
    float:left; 
    height:8vh; 
    width:16vw; 
    margin-left:2vw;
}
.previewMessage{
    display:inline-block; 
    height:8vh; 
    width:74vw; 
    margin-left:0.5vw; 
}

.arrowDiv{
    display:inline-block; 
    height:8vh; 
    width:5vw;
    :background-color: red;
}

#eliminaIcon{
    display: block;
    height: 7.5vh;
    width: 2em;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    color: #e50000;
}

.separatoreDiv{
    display: block;
    width:80vw; 
    height:1px; 
    background-color: #bdbdbd; 
    margin-left: 18vw; 
    :margin-top:0.4em; 
    margin-bottom:0.4em;
}

.sender{
    width: 60vw; 
    font-size: 5vmin;
    font-weight: 700; 
    display: inline-block; 
    margin: .45vw 0; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    line-height: 3vh; 
    text-align:left; 
}

.time{
    display: inline-block;
    max-height: 1em;
    max-width:15vw;
    font-size: 0.6em;
    color: gray;
    
}
.previewText{
    width: 100%; 
    font-size: 2vh; 
    font-weight: 400; 
    display: block; 
    margin: 1vmin; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    text-align: left; 
    line-height: 2vh;
}

#messaggiDetailContent{
    display: block;
    :height: 100%;
    :width:100%;
    :background-color: greenyellow;
    :overflow-y: scroll;
}

 #messageFlowDiv{
    height:82vh; 
    width:100vw; 
    padding-bottom: 1em;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
}

.leftMessage{
    float: left;
    margin-left: 3vw;
}

.rightMessage{
    float: right;
    margin-right: 5vw;
}


.bubbleDivContainer{
    display:block; 
    width:100%; 
    min-height:8vh;   
    margin-top: 3vw
}

.bubbleDivContainer > div > h6{
    word-wrap: break-word !important;   
}

.bubbleRight, .bubbleLeft 
{
    display: inline-block;

    max-width: 70vw;
    min-width: 15vw;  
    
    min-height: 8vh;
    position: relative;
    padding: 0.5em;
    background: #FFFFFF;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: #4690E7 solid 4px;
}

.bubbleRight:after, .bubbleLeft:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -6px;
    bottom: 8px;
}

.bubbleRight:before, .bubbleLeft:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 9px;
    border-color: transparent #4690E7;
    display: block;
    width: 0;
    z-index: 0;
    right: -13px;
    bottom: 5px;
}

.bubbleLeft:after{
    border-width: 5px 6px 5px 0;
    left:-6px;   
}
.bubbleLeft:before{
    border-width: 8px 9px 8px 0;
    left:-11px;   
}


#messageInputDiv{
    height:8vh; 
    width:100vw; 
    background-color:#d7d7d8;  
    text-align: center;
    padding: 1vh;
    :position: fixed;
    :z-index: 2;
}

#messageInputText{
    display: block;
    float:left;
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    width: 70vw;
    padding-left: 0.4em;
    border-radius: 0.4em;   
}

#inviaMessaggioButton{
    display: block;
    float: right;
    width:13vw;
    font-size: 0.85em;
    line-height: 2.5em;
    margin-right: 4vw;
}

.contenutoTestoMessaggio{
    display: block;   
    vertical-align: top;
    margin-right: 2.5em;
}

.contenutoDataMessaggio{
    display: block;
    font-size:0.7em; 
    color:gray;   
    font-size: 0.6em;
    text-align: right;
}