a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #127ebf;
}


#affittaContent_creaAnnuncio, #affittaContent_dettaglioAnnuncio{
    display: none;
}



/*
.annuncioDiv{
    display: block;
    align-content: center;
    line-height: 5vh;
    height: 5vh; 
    width: 100vw;
    border: 1px solid black;
    margin-top: 1vh;
}

.annuncioDelDiv{
    display: none;
    height: auto;
    width: 0;
    background-color: red;
    
}*/


.pillDivClass{
    display: block;
    width: 98%;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    margin-left: auto;
    margin-right: auto;
}


#pubblicatiDiv{
   :background-color: lightgray;   
}

#bozzeDiv, #scadutiDiv{
    display: none;
    :background-color: limegreen;
}

#rowButton{
    margin-top: 1em;   
}

.annuncioDiv{
    margin-top: 0.1em;
    :background-color: #dddddd; 
    background-color: white; 
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.toDeleteDivContainer{
    display: none;
    height: 10em;
    width:3em;
    background-color: red;
}

.nuovoAnnuncioIntestazione, .nuovoAnnuncioDetailIntestazioneRow{
    margin-top: 0.6em;   
}

.paddingElement{
    padding: 1em;   
}

.nuovoAnnuncioTestoIntestazione{
    padding-left: 0;   
}

.annuncioContentDiv{
    display:inline-block;
    height: auto;
    width: 100%;
    background-color: yellow;
}


.nuovoAnnuncioDetailContent, .modificaAnnuncioDetailContent{
    display: none;   

}

.annuncioTextTitle{
    margin-top: 0.5em;
    text-shadow: 1px 1px 1px black;      
}

.nuovoAnnuncioDetailTextTitle{
    margin-top: 0.5em;
    padding-left: 2em;
    font-weight: 600;
    text-shadow: 1px 1px 1px gray;
}

.titleTooMuchPadding{
    padding-left: 0;   
}

.nuovoAnnuncioDetailFirstRow{
    margin-top: 2em;   
}

.nuovoAnnuncioDetailSecondRow{
    margin-top: 1.5em;   
}

.nuovoAnnuncioBox, .modificaAnnuncioBox, .modificaDatiAnnuncioBox{
    :margin-top: 0.5em;
    margin-left: 0.3em;
    background-color: whitesmoke;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.nuovoAnnuncioIconsBox{
     line-height: 3.5em;
}

.nuovoAnnuncioRowOne{
    margin-top:0.5em; 
    margin-bottom:0.4em;   
}

.nuovoAnnuncioRowTwo{
    padding-top:0.2em; 
    margin-bottom:0.5em; 
}

.nuovoAnnuncioRowOneTitle{
    font-weight:600; 
    margin-bottom:0.4em;   
}

.textInputIntroText{
    line-height: 1.4em;   
}

#titoloInput, #modifica_titoloInput{
    width: 100%;   
}

#prezzoInput, #numLocaliInput, #superficieInput, #postiLettoInput, #pianoInput,
#modifica_prezzoInput, #modifica_numLocaliInput, #modifica_superficieInput, #modifica_postiLettoInput, #modifica_pianoInput{
    display: block;
    width: 6em;   
    margin-left: auto;
    margin-right: auto;
}

#indirizzoInput, #modifica_indirizzoInput{
    display: block;
    width: 17em;   
    margin-left: auto;
    margin-right: auto; 
}

#descrizioneInput, #modifica_descrizioneInput{
    min-height: 8em;
    height: 8em;
    max-height: 8em;
}

#postiLettoStanzaInput, #modifica_postiLettoStanzaInput{
    width: 5em;   
}


.nuovoAnnuncioRowTwoTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;   
}

.contentOverflowProperty{
    overflow-y:scroll; 
    overflow-x:hidden;   
}

.rowMiniaturaImage{
    height: 4em;
    margin-top: 0.1em;   
}

.miniaturaImage{
    height: 64px;
    width: 64px;
}

/*********  BACK MENU - Nuovo annuncio  *********/
#back-mmenu > div > div,
#caricaFoto-mmenu > div > div,
#deleteMessage-mmenu > div > div,
#modificaAnnuncio-mmenu > div > div
{
    overflow-y: hidden;
    margin-top: 0.3em;
}

#back-mmenu,
#caricaFoto-mmenu,
#deleteMessage-mmenu,
#modificaAnnuncio-mmenu{
    background-color:#d3d3d3;    
}

#back-mmenu{
    height:11.8em; 
}

#caricaFoto-mmenu{
    height:10em; 
}

#deleteMessage-mmenu{
    height:9em; 
}

#modificaAnnuncio-mmenu{
    height: 15em;   
}

#modificaAnnuncioMenuTitle{
    height: 7em;   
}

.menuRow{
    width: 95%;
    height: 3em;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #ededed;
    margin-top: 0.1em !important;
    text-align: center;
}

.menuRowTitle{
    text-align: left;
    padding: 1em !important;
    color: #a8a8a8;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.menuRowTitleText{
    color: #3f3f3f;   
}

.menuRowAnnulla{
    margin-top:0.5em !important;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}


.menuRowStrongText{
    font-size: 1.45em;
}

.menuRowTextBluColor{
    color: blue !important;   
}

.menuRowTextRedColor{
    color: red !important;
}

.menuRowLightText{
    font-size: 1.15em;   
}

#caricaFotoFirstElement{
    border-top-left-radius: 0.4em;   
    border-top-right-radius: 0.4em;   
}

#caricaFotoMenuRowAnnulla{
    margin-top:0.5em !important;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

/******  FINE MENU  *******/

#affittaPills{
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}


.pillListElement{
    width: 5em;
    border: 1px solid #007AFF;
    background-color: white;
}

#pillDue, #pillTre{
    border-left: 0;   
}

#pillUnoLink{
    width: 5em;   
}

#pillDueLink{
    width: 3em;   
}

#pillTreLink{
    width: 4em;   
}


.myActiveClass{
    background-color: #007AFF  !important;
}

.myActiveClassColor{
    color: white !important;   
}

.myActiveClassColorStandard{
    color:#3294ff !important;   
}

.pillElementLink{
    margin-left: auto;
    margin-right: auto !important;
    padding: 0.7em !important;
    padding-left: 0 !important;
    font-size: 0.7em;
    background-color: transparent !important;
    border-color: transparent !important;
}

/*  LINK BUTTONS */ 

.okButton:link, .okButton:visited {
    border: 2px solid #4CAF50;
    background-color: #5db761;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:black;
    font-weight: normal;
    margin-left: 20px;
    
}

.okButton:hover, .okButton:active{
    background-color: #4CAF50;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: lighter;
}

.creaButton:link, .okButton:visited{
    border: 2px solid #4CAF50;
    background-color: #5db761;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:black;
    font-weight: normal;
    margin-left: 20px;    
}

.creaButton:hover, .creaButton:active, creaButton:visited{
    background-color: #4CAF50;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: lighter;
}

.deleteButton:link, .deleteButton:visited{
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
    font-weight: normal;
}

.deleteButton:hover, .deleteButton:active{
    color: white !important;
    background-color: red;
    opacity: 1;   
    font-weight: lighter;
}

#pubblicaAnnuncioButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  text-shadow: 0px 1px 11px #382f38;
  -webkit-box-shadow: 0px 1px 11px #666666;
  -moz-box-shadow: 0px 1px 11px #666666;
  box-shadow: 0px 1px 11px #666666;
  font-family: Arial;
  display: block;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

#pubblicaAnnuncioButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#btnDeleteAnnuncio{
    display: block;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}

#btnDeleteAnnuncio{
    display: block;
    height: 1.8em;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em; 
    padding: 0;
    line-height: 1.8em;
}




