
#preferitiMap{
    height:9em; 
    width:100%   
}

.preferitiDivParent{
    display:inline-block; 
    height: 8vh; 
    width: 100vw; 
}
.firstDiv{
    display:inline-block; 
    float:left; 
    height:4vh; 
    width: 88vw;
    vertical-align:middle;
    margin:auto;
}

.accordionTitle{
    font-size: 0.9em !important;   
}

.text{
    height:4vh; 
    width: 88vw;
    vertical-align:middle; 
    line-height:4vh;
    margin: auto;
}
.secondDiv{
    display:inline-block; 
    float:right;
    top: 0;
    height: 5.8vh; 
    width: 20vw; 
    margin-left: 1.5vw;
    text-align: center;
    line-height: 5.8vh;
    background-color:red; 
    font-size: 2.5vh;
    font-weight: 700;
    position:absolute;
}
.divChild{
    overflow-x:hidden !important;
    padding: 0 !important;
    padding-left: 1em !important;
    padding-top: 0.5em !important;
    height: 8em;
    

}

#preferitiInfoSecondRow{
   margin-top: 0.3em; 
}

#preferitiInfoFourthRows{
    margin-top: 0.4em;  
    text-align: center;
}

#preferitiInfoFifthRows{
    margin-top: 0.5em;   
}

.preferitiTextInfo{
    font-size: 0.8em;
    font-style: italic;
}

.preferitiViaText{
    font-size: 0.72em;   
}

.preferitiPezzoText{
    font-size: 1.6em;
    color: #237f52;
    font-weight: bolder;
}

#preferitiButtonRow{
    margin-top: 0.5em;      
}

.eliminaPreferitoIcon{
    color: red;
    font-size: 1.3em;
}

#emptyFinalDiv{
    height:5em;
}

.informazioniAnnuncio{
   margin-top:0.5em; 
}

#listaTrasportiDiv{
    width:100%; 
    max-height:8em;
}

#trasportiLeftColumn, #trasportiRightColumn{
    padding: 0;   
}

.mezziDiv{
    height:25px; 
    width: 100%; 
    margin:0; 
    margin-top:0.5em;
}

.iconImage{
  display:inline-block; 
    height:25px; 
    width:25px; 
    line-height:0.5em;  
}

.listaTrasportiText{
   display:inline-block; 
    max-width:100%; 
    :background-color:yellowgreen; 
    font-size:0.7em; 
}

.preferitoDescriptionDiv{
    margin-top:1em;
}
.preferitoDescriptionText{
    line-height:1.3em;
}

.preferitoBottomButtonDiv{
    margin-top:1em;   
}


.foto{
    display:inline-block; 
    height:28.3vmin; 
    width:28.3vmin;   
}
.photoswipe{
    overflow-x:scroll; 
    overflow-y:hidden;
    white-space: nowrap;
    margin-top:1em;
}

