/*
body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

#login-form{
    display: block;
}

#register-form{
    display: none;
}


#topFixedDiv{
    display: block;
    height: 4em;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: #125688;
}


#contentDiv{
    display: block;
    height: 100%;
    width:100%;
    margin-top: 3em; 
    overflow-y: scroll;
    z-index: 1;
    background-image: url(../img/background.png);   
}

.panel{
    :background-color: transparent;
}
*/

body{
    background-image: url('../img/background.png');
    background-size: cover;

}

#divEsterno{
    display: block;
    height:100vh;
    width: 200vw;

    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;

    transition: .225s ease-in;

}

#schermataUno{
    display:inline-block; 
    width:100vw; 
    height:100vh; 

    overflow-x:hidden;
    overflow-y:hidden;

    position: relative;
    float: left;
}

#schermataDue{
    display:inline-block; 
    width:100vw; 
    height:100vh; 

    position: relative;
    float:right;
    :background-color: yellowgreen;
}

#divEsterno.changePage{
    transform: translate(-100vw,0); 
    transition: .15s ease-out;     
}

.headerDiv{
    text-align:center; 
    margin-top:12vh;
    height: 12vh;
}

#imageDiv{
    margin-top:5vh;
    height: 15vh;
}

.socialLoginImage{
    display:block; 
    height:30px; 
    width: 146px;
    margin-left: auto;
    margin-right: auto;

}

.bottomDiv{
    display:block; 
    height:6vh; 
    width:100vw; 
    opacity:0.8; 
    border-top:1px solid gray; 
    padding:0; 
    position:absolute;
    bottom:0; 
    z-index:2;
    text-align:center; 
    background-color: #a8bece;

}

.bottomText{
    height:auto; 
    font-size:0.9em;
    margin-top: 0.5em;
}

.orDiv{
    display:block; 
    width:90vw; 
    height:5vh; 
    :border: 1px solid black; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:3vh;

}

.leftOrDiv, .rightOrDiv{
    display:inline-block; 
    width:30vw; 
    height: 0.1em;
    background-color: green;    
}

.orText{
    display:inline-block; 
    width:20vw; 
    height:4vh; 
    line-height: 5.5vh; 
    margin-left: 2vw; 
    margin-right: 2vw; 
    text-align:center;     
}

#registraForm{
    :background-color:red;
    height: 43vh;
}

#loginForm{
    :background-color:red;
    height: 25vh; 
    margin-top: 10vh;
}

.inputColumnDiv{
    margin-top: 0.4em;   
}

#recuperaPasswordDiv{
    display: none;
    height: 7em;
    width:100vw;
    margin-top:10vh;
    background-color: lightgray;
}

#pwDimenticataDiv{
    text-align: center;
    font-size: 0.85em;
    height:4vh;
    margin-top: 0;
}

#pwDimenticataText{
    color: #127ebf;   
}





a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #127ebf;
}


.modal { 
    top: 20vh !important; 
}


/*
.modal-backdrop
{
    opacity:0.5 !important;
}

.modal { 
    position: fixed; 
    top: 5vh; 
    left: 100vw; 
    width: 50vw; 
    margin: 0; 
    opacity: 1;
    z-index: 2000;
}
.modal-body { 
    height: 10vh; 
}

.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }

